
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>中医体质调查问卷</title>
  <link rel="stylesheet" href="layui/css/layui.css">
  <link rel="stylesheet" href="css/animate.min.css">
  <!-- <link rel="stylesheet" href="bootstrap3/css/bootstrap.min.css"> -->
  <style>
    body {
      font-family: 'Fira Sans', sans-serif;
      font-weight: 310;
    }

    h1 {
      background-color: rgb(79, 151, 213);
      font-size: 150%;
      color: rgb(248, 248, 248);
      font-weight: bold;
      height: 60px;
      line-height: 60px;
      text-align: center;
    }

    p {
      font-size: 110%;
      color: #fff;
      background-color: rgb(79, 151, 213);
      margin: 2px 0;
      /*border-top: 2px solid #cfd3cf;*/
      /*border-bottom: 2px solid #f8f9fd;*/
    }

    div {
      background-color: rgb(79, 151, 213);
    }

    label {
      display: block;
      background: #FFFF;
      border: 1px solid #5562eb;
      text-align: center;
      margin: 5px 0;
      padding: 0;
      font-family: 'Fira Sans', sans-serif;
      font-weight: 310;
      transition: color 200ms ease-in;
      /* overflow: hidden; */
    }

    input {
      display: none
    }

    /*设置选中的input的样式*/
    /* + 是兄弟选择器,获取选中后的label元素*/
    input:checked+label {
      background-color: #5562eb;
      color: #FFFF;
    }

    input:checked+label::after {
      position: absolute;
      content: "";
      border-top: none;
      border-left: none;
    }
    #test {
      width:100px;
      margin: 0 auto;
    }
  </style>
</head>

<body>
  <div class="layui-container">
    <div class="layui-row">
      <div class="layui-col-sm12 layui-col-md12">
        <h1 class="text-center">中医体质调查问卷</H1>
      </div>
      <div id="suggestion">
          <p style="font-weight: bold;color:crimson">提交代表您已经接受以下声明:</p>
          <p>本测试不作为诊断和治疗的依据，对于已经医生确诊的疾病，应按照医嘱积极治疗。所涉及的内容仅作为生活保健的咨询建议。如遇不适请及时就医。
      </div>
      <hr>
    </div>

    <div class="layui-row">
      <form id="question-form" action="" method="POST">
        <div>
              <p>请选择性别</p>
              <input type="radio" id="man"   value="男"
              v-model="sex" v-bind:disabled="isDisabled" v-on:click="display_begin()"/><label for="man">男</label>
              <input type="radio" id="woman" value="女"
              v-model="sex" v-bind:disabled="isDisabled" v-on:click="display_begin()"/><label for="woman">女</label>
              <hr>
              <input type="button" id="begin" v-on:click="begin_flag && begin()"/><label v-if="display_begin_flag" for="begin">点此开始答题</label>
            <ul id="queslist">
              <li class="animated"
                  v-for="item in render_list"
                  v-bind:class="{'fadeInRightBig': item.isfadein, 'fadeOutLeftBig': item.isfadeout}"
                  v-bind:id=item.id>
                  <p v-html="item.fullname"></p>
                    <!-- <input style="display: none;visibility:hidden;"/> 使用 栅格系统+动画效果 要加这句-->
                    <!-- <p>{{item.fullname}}</p> -->
                    <div>
                      <input type="radio" v-bind:name="item.name" v-bind:id='item.name +"-1"' v-bind:value="get_value(item.is_decrease,1)" v-on:click="item.unbind && fadein()"/>
                      <label v-bind:for='item.name +"-1"'>没有</label>
                    </div>
                    <div>
                      <input type="radio" v-bind:name="item.name" v-bind:id='item.name +"-2"' v-bind:value="get_value(item.is_decrease,2)" v-on:click="item.unbind && fadein()"/>
                      <label v-bind:for='item.name +"-2"'>很少</label>
                    </div>
                    <div>
                      <input type="radio" v-bind:name="item.name" v-bind:id='item.name +"-3"' v-bind:value="get_value(item.is_decrease,3)" v-on:click="item.unbind && fadein()"/>
                      <label v-bind:for='item.name +"-3"'>有时</label>
                    </div>
                    <div>
                      <input type="radio" v-bind:name="item.name" v-bind:id='item.name +"-4"' v-bind:value="get_value(item.is_decrease,4)" v-on:click="item.unbind && fadein()"/>
                      <label v-bind:for='item.name +"-4"'>经常</label>
                    </div>
                    <div>
                      <input type="radio" v-bind:name="item.name" v-bind:id='item.name +"-5"' v-bind:value="get_value(item.is_decrease,5)" v-on:click="item.unbind && fadein()"/>
                      <label v-bind:for='item.name +"-5"'>总是</label>
                    </div>
              </li>
              <br>
            </ul>
        </div>

        <div id="test">
          <button v-if="submit_flag" 	class="layui-btn layui-btn-radius layui-btn-normal" type="submit" id="submitBtn">查看结果</button>
        </div>
      </form>
    </div>

  </div>
  <!--container-->

  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="layui/layui.js"></script>
  <script src="js/vue.js"></script>
  <!-- <script src='bootstrap3/js/bootstrap.min.js'></script> -->
  <script>
    var vm = new Vue({
      el: '#question-form',
      data: {
        sex:'',
        isDisabled:false,
        display_begin_flag:false,
        begin_flag:true,
        submit_flag:false,
        render_list: [],
        queslistdata: [
          { unbind: true, id: 0,   isfadeout: false, isfadein: false, is_decrease: false, name: "pinghe-question1",                  fullname: "（1）您精力充沛吗？"},
          { unbind: true, id: 1,   isfadeout: false, isfadein: false, is_decrease: true , name: "pinghe-question2+qixu-question1",   fullname: "（2）您说话声音低弱无力吗？"},
          { unbind: true, id: 2,   isfadeout: false, isfadein: false, is_decrease: true , name: "pinghe-question3+qiyu-question1",   fullname: "（3）您感到闷闷不乐，情绪低沉吗？"},
          { unbind: true, id: 3,   isfadeout: false, isfadein: false, is_decrease: true , name: "pinghe-question4+yangxu-question1", fullname: "（4）您比一般人耐受不了寒冷（冬天的寒冷，夏天的空调，电扇等）吗？"},
          { unbind: true, id: 4,   isfadeout: false, isfadein: false, is_decrease: false, name: "pinghe-question5",                  fullname: "（5）您能适应外界自然和社会环境的变化吗？"},
          { unbind: true, id: 5,   isfadeout: false, isfadein: false, is_decrease: true , name: "pinghe-question6",                  fullname: "（6）您容易失眠吗？"},
          { unbind: true, id: 6,   isfadeout: false, isfadein: false, is_decrease: true , name: "pinghe-question7+qixu-question2",   fullname: "（7）您容易疲乏吗？"},
          { unbind: true, id: 7,   isfadeout: false, isfadein: false, is_decrease: false, name: "qixu-question3",                    fullname: "（8）您容易气短(呼吸短促，接不上气)吗？"},
          { unbind: true, id: 8,   isfadeout: false, isfadein: false, is_decrease: false, name: "qixu-question4",                    fullname: "（9）您容易心慌吗？"},
          { unbind: true, id: 9,   isfadeout: false, isfadein: false, is_decrease: false, name: "qixu-question5",                    fullname: "（10）您容易头晕或站起时晕眩吗？"},
          { unbind: true, id: 10,  isfadeout: false, isfadein: false, is_decrease: false, name: "qixu-question6",                    fullname: "（11）您喜欢安静、懒得说话吗?"},
          { unbind: true, id: 11,  isfadeout: false, isfadein: false, is_decrease: false, name: "qixu-question7",                    fullname: "（12）您活动量稍大就容易出虚汗吗?"},
          { unbind: true, id: 12,  isfadeout: false, isfadein: false, is_decrease: false, name: "yangxu-question2",                  fullname: "（13）您手脚发凉吗?"},
          { unbind: true, id: 13,  isfadeout: false, isfadein: false, is_decrease: false, name: "yangxu-question3",                  fullname: "（14）您胃脘部、背部或腰膝部怕冷吗？"},
          { unbind: true, id: 14,  isfadeout: false, isfadein: false, is_decrease: false, name: "yangxu-question4",                  fullname: "（15）您感到怕冷、衣服比别人穿得多吗?"},
          { unbind: true, id: 15,  isfadeout: false, isfadein: false, is_decrease: false, name: "teling-question1",                  fullname: "（16）您的皮肤一抓就红，并出现抓痕吗? "},
          { unbind: true, id: 16,  isfadeout: false, isfadein: false, is_decrease: false, name: "qixu-question8+yangxu-question5",   fullname: "（17）您比别人容易患感冒吗?"},
          { unbind: true, id: 17,  isfadeout: false, isfadein: false, is_decrease: false, name: "yangxu-question6",                  fullname: "（18）您吃(喝)凉的东西会感到不舒服或者怕吃(喝)凉的东西吗？"},
          { unbind: true, id: 18,  isfadeout: false, isfadein: false, is_decrease: false, name: "yangxu-question7",                  fullname: "（19）您受凉或吃(喝)凉的东西后，容易腹泻(拉肚子)吗?"},
          { unbind: true, id: 19,  isfadeout: false, isfadein: false, is_decrease: false, name: "yinxu-question1",                   fullname: "（20）您感到手脚心发热吗?"},
          { unbind: true, id: 20,  isfadeout: false, isfadein: false, is_decrease: false, name: "yinxu-question2",                   fullname: "（21）您感觉身体、脸上发热吗？"},
          { unbind: true, id: 21,  isfadeout: false, isfadein: false, is_decrease: false, name: "yinxu-question3",                   fullname: "（22）您皮肤或口唇干吗?"},
          { unbind: true, id: 22,  isfadeout: false, isfadein: false, is_decrease: false, name: "yinxu-question4",                   fullname: "（23）您口唇的颜色比一般人红吗?"},
          { unbind: true, id: 23,  isfadeout: false, isfadein: false, is_decrease: false, name: "yinxu-question5",                   fullname: "（24）您容易便秘或大便干燥吗?"},
          { unbind: true, id: 24,  isfadeout: false, isfadein: false, is_decrease: false, name: "yinxu-question6",                   fullname: "（25）您面部两颧潮红或偏红吗?"},
          { unbind: true, id: 25,  isfadeout: false, isfadein: false, is_decrease: false, name: "yinxu-question7",                   fullname: "（26）您感到眼睛干涩吗？"},
          { unbind: true, id: 26,  isfadeout: false, isfadein: false, is_decrease: false, name: "yinxu-question8",                   fullname: "（27）您感到口干咽燥、总想喝水吗？"},
          { unbind: true, id: 27,  isfadeout: false, isfadein: false, is_decrease: false, name: "tanxu-question1",                   fullname: "（28）您感到胸闷或腹部胀满吗？"},
          { unbind: true, id: 28,  isfadeout: false, isfadein: false, is_decrease: false, name: "tanxu-question2",                   fullname: "（29）您感到身体沉重不轻松或不爽快吗?"},
          { unbind: true, id: 29,  isfadeout: false, isfadein: false, is_decrease: false, name: "tanxu-question3",                   fullname: "（30）您腹部肥满松软吗?"},
          { unbind: true, id: 30,  isfadeout: false, isfadein: false, is_decrease: false, name: "tanxu-question4",                   fullname: "（31）您有额部油脂分泌多的现象吗?"},
          { unbind: true, id: 31,  isfadeout: false, isfadein: false, is_decrease: false, name: "tanxu-question5",                   fullname: "（32）您上眼睑比别人肿（上眼睑有轻微隆起的现象）吗?"},
          { unbind: true, id: 32,  isfadeout: false, isfadein: false, is_decrease: false, name: "tanxu-question6",                   fullname: "（33）您嘴里有黏黏的感觉吗?"},
          { unbind: true, id: 33,  isfadeout: false, isfadein: false, is_decrease: false, name: "tanxu-question7",                   fullname: "（34）您平时痰多，特别是咽喉部总感到有痰堵着吗?"},
          { unbind: true, id: 34,  isfadeout: false, isfadein: false, is_decrease: false, name: "tanxu-question8",                   fullname: "（35）您舌苔厚腻或有舌苔厚厚的感觉吗?"},
          { unbind: true, id: 35,  isfadeout: false, isfadein: false, is_decrease: false, name: "shire-question1",                   fullname: "（36）您面部或鼻部有油腻感或者油亮发光吗?"},
          { unbind: true, id: 36,  isfadeout: false, isfadein: false, is_decrease: false, name: "shire-question2",                   fullname: "（37）您易生痤疮或疮疖吗?"},
          { unbind: true, id: 37,  isfadeout: false, isfadein: false, is_decrease: false, name: "shire-question3",                   fullname: "（38）您感到口苦或嘴里有异味吗?"},
          { unbind: true, id: 38,  isfadeout: false, isfadein: false, is_decrease: false, name: "shire-question4",                   fullname: "（39）您大便黏滞不爽、有解不尽的感觉吗?"},
          { unbind: true, id: 39,  isfadeout: false, isfadein: false, is_decrease: false, name: "shire-question5",                   fullname: "（40）您小便时尿道有发热感、尿色浓(深)吗？"},
          { unbind: true, id: 40,  isfadeout: false, isfadein: false, is_decrease: false, name: "shire-question6",                   fullname: "（41）您带下色黄(白带颜色发黄)吗?（限女性回答）"},
          { unbind: true, id: 41,  isfadeout: false, isfadein: false, is_decrease: false, name: "shire-question7",                   fullname: "（42）您的阴囊部位潮湿吗?（限男性回答）"},
          { unbind: true, id: 42,  isfadeout: false, isfadein: false, is_decrease: false, name: "xueyu-question1",                   fullname: "（43）您的皮肤在不知不觉中会出现青紫瘀斑(皮下出血)吗?"},
          { unbind: true, id: 43,  isfadeout: false, isfadein: false, is_decrease: false, name: "xueyu-question2",                   fullname: "（44）您两颧部有细微红丝吗?"},
          { unbind: true, id: 44,  isfadeout: false, isfadein: false, is_decrease: false, name: "xueyu-question3",                   fullname: "（45）您身体上有哪里疼痛吗？"},
          { unbind: true, id: 45,  isfadeout: false, isfadein: false, is_decrease: false, name: "xueyu-question4",                   fullname: "（46）您面色晦黯、或容易出现褐斑吗?"},
          { unbind: true, id: 46,  isfadeout: false, isfadein: false, is_decrease: false, name: "xueyu-question5",                   fullname: "（47）您容易有黑眼圈吗?"},
          { unbind: true, id: 47,  isfadeout: false, isfadein: false, is_decrease: true , name: "xueyu-question6+pinghe-question8",  fullname: "（48）您容易忘事（健忘）吗？"},
          { unbind: true, id: 48,  isfadeout: false, isfadein: false, is_decrease: false, name: "xueyu-question7",                   fullname: "（49）您口唇颜色偏黯吗?"},
          { unbind: true, id: 49,  isfadeout: false, isfadein: false, is_decrease: false, name: "teling-question2",                  fullname: "（50）您的皮肤因过敏出现过紫癜(紫红色瘀点、瘀斑)吗?"},
          { unbind: true, id: 50,  isfadeout: false, isfadein: false, is_decrease: false, name: "qiyu-question2",                    fullname: "（51）您容易精神紧张、焦虑不安吗?"},
          { unbind: true, id: 51,  isfadeout: false, isfadein: false, is_decrease: false, name: "qiyu-question3",                    fullname: "（52）您多愁善感、感情脆弱吗？"},
          { unbind: true, id: 52,  isfadeout: false, isfadein: false, is_decrease: false, name: "qiyu-question4",                    fullname: "（53）您容易感到害怕或受到惊吓吗?"},
          { unbind: true, id: 53,  isfadeout: false, isfadein: false, is_decrease: false, name: "qiyu-question5",                    fullname: "（54）您胁肋部或乳房胀痛吗?"},
          { unbind: true, id: 54,  isfadeout: false, isfadein: false, is_decrease: false, name: "qiyu-question6",                    fullname: "（55）您无缘无故叹气吗?"},
          { unbind: true, id: 55,  isfadeout: false, isfadein: false, is_decrease: false, name: "qiyu-question7",                    fullname: "（56）您咽喉部有异物感，且吐之不出、咽之不下吗？"},
          { unbind: true, id: 56,  isfadeout: false, isfadein: false, is_decrease: false, name: "teling-question3",                  fullname: "（57）您没有感冒时也会打喷嚏吗？"},
          { unbind: true, id: 57,  isfadeout: false, isfadein: false, is_decrease: false, name: "teling-question4",                  fullname: "（58）您没有感冒时也会鼻塞、流鼻涕吗?"},
          { unbind: true, id: 58,  isfadeout: false, isfadein: false, is_decrease: false, name: "teling-question5",                  fullname: "（59）您有因季节变化、温度变化或异味等原因而咳喘的现象吗？"},
          { unbind: true, id: 59,  isfadeout: false, isfadein: false, is_decrease: false, name: "teling-question6",                  fullname: "（60）您容易过敏(对药物、食物、气味、花粉或在季节交替、气候变化时)吗?"},
          { unbind: true, id: 60,  isfadeout: false, isfadein: false, is_decrease: false, name: "teling-question7",                  fullname: "（61）您的皮肤容易起荨麻疹(风团、风疹块、风疙瘩)吗?"},
        ],
      },
      methods:{
        display_begin:function () {
          this.display_begin_flag = true;
        },
        begin:function () {
          //根据性别生成对应的题库
          if (this.sex == "男") {
            this.queslistdata.splice(40,1);
          } else {
            this.queslistdata.splice(41,1);
          }
          this.isDisabled = true;//一旦开始答题,性别不能更改

          this.queslistdata.reverse();
          var temp = this.queslistdata.pop();
          temp.isfadein = true;
          this.begin_flag = false;
          this.render_list.push(temp);
        },
        fadein: function () {
          var temp = this.queslistdata.pop();
          if (temp != undefined) {
            //每回答一题,显示下一题
            temp.isfadein = true;
            /* 进入下一问题前, 解除当前问题的click事件 */
            this.render_list[this.render_list.length - 1].unbind = false;
            this.render_list.push(temp);
          } else {
            //当回答完最后一题后,显示提交按钮
            this.submit_flag = true;
          }
        },
        get_value: function (decrease_flag,value) {
          if (decrease_flag) {
            return 6 - value;
          } else {
            return value;
          }
        }
      },
      computed: {}
    });
  </script>
  <script>
    layui.use(['form', 'element','util','layer'], function () {
      var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
      var element = layui.element;
      var util = layui.util;
      var layer = layui.layer;
      //但是，如果你的HTML是动态生成的，自动渲染就会失效
      //因此你需要在相应的地方，执行下述方法来手动渲染，跟这类似的还有 element.init();
      util = layui.util;
      //util.fixbar({  //返回顶部
      //    top: true
      //    ,css: {right: 15, bottom: 35}
      //    ,bgcolor: '#393D49'
      //    ,click: function(type){
      //    }
      //  });
      element.render();
      form.render();
    });
  </script>

</body>

</html>