<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <title>体质调查问卷</title>
  <link rel='stylesheet prefetch' href='https://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel='stylesheet prefetch' href='css/animate.min.css'>
  <link rel="stylesheet" type="text/css" href="css/default.css">
  <link rel="stylesheet" href="../layui/css/layui.css">
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
  <link rel="stylesheet" type="text/css" href="../css/input_radio.css">
  <!-- <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,100,400,300,600,700,800'> -->

</head>

<body>
  <div class="covering">
    <div class="progress">
      <div class="progress-bar" style="width: 0;"> <span class="sr-only">60% Complete</span> </div>
    </div>
    <!-- <header class="htmleaf-header">
			<h1 class="h1-header animated bounceInLeft">中医体质分类与判定表</h1>
    </header> -->
    <div class="container-fluid table-class">
      <div class="black">
        <div class="inner cover">
          <div class="centerUp">
            <div class="questionaire">
              <form id="question-form" action="" method="POST">
                <ul class="progress-form" id="queslist">
                  <li class="form-group animated fadeInRightBig  activate" data-color="#E1523D" data-percentage="10%">
                    <h2>第一组</h2>
                    <p>
                      请根据近一年的体验和感觉，回答以下问题
                    </p>
                    <div class="col-md-8" v-for="item in pinghequeslistdata">
                      <h4>{{item.question_text}}</h4>
                      <div class="inputGroup">
                        <input v-bind:id='item.name +"-1"' v-bind:name=item.name type="radio" value="1" />
                        <label v-bind:for='item.name +"-1"'>没有（根本不）</label>
                      </div>
                      <div class="inputGroup">
                        <input v-bind:id='item.name +"-2"' v-bind:name=item.name type="radio" value="2" />
                        <label v-bind:for='item.name +"-2"'>很少（有一点）</label>
                      </div>
                      <div class="inputGroup">
                        <input v-bind:id='item.name +"-3"' v-bind:name=item.name type="radio" value="3" />
                        <label v-bind:for='item.name +"-3"'>有时（有些）</label>
                      </div>
                      <div class="inputGroup">
                        <input v-bind:id='item.name +"-4"' v-bind:name=item.name type="radio" value="4" />
                        <label v-bind:for='item.name +"-4"'>经常（相当）</label>
                      </div>
                      <div class="inputGroup">
                        <input v-bind:id='item.name +"-5"' v-bind:name=item.name type="radio" value="5" />
                        <label v-bind:for='item.name +"-5"'>总是（非常）</label>
                      </div>
                    </div>
                    <br>
                    <span class="img_cnt"></span> / <span class="img_amt"></span>
                    <button class="btn btn-default btn-lg nxt" id="pinghe-btn" type="button"> Next <span
                        class="icon-next"></span></button>
                  </li>
                  <li class="form-group animated hide inactive" data-color="#7C6992" data-percentage="20%">
                    <h2>第二组</h2>
                    <p>
                      请根据近一年的体验和感觉，回答以下问题
                    </p>
                    <div class="col-md-8" v-for="item in qixuqueslistdata">
                        <h4>{{item.question_text}}</h4>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-1"' v-bind:name=item.name type="radio" value="1" />
                          <label v-bind:for='item.name +"-1"'>没有（根本不）</label>
                        </div>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-2"' v-bind:name=item.name type="radio" value="2" />
                          <label v-bind:for='item.name +"-2"'>很少（有一点）</label>
                        </div>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-3"' v-bind:name=item.name type="radio" value="3" />
                          <label v-bind:for='item.name +"-3"'>有时（有些）</label>
                        </div>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-4"' v-bind:name=item.name type="radio" value="4" />
                          <label v-bind:for='item.name +"-4"'>经常（相当）</label>
                        </div>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-5"' v-bind:name=item.name type="radio" value="5" />
                          <label v-bind:for='item.name +"-5"'>总是（非常）</label>
                        </div>
                    </div>
                    <br>
                    <span class="img_cnt"></span> / <span class="img_amt"></span>
                    <button class="btn btn-default btn-lg nxt" id="qixu-btn" type="button">Next <span
                        class="icon-next"></span></button>
                  </li>
                  <li class="form-group animated hide" data-color="#00AF66" data-percentage="30%">
                    <h2>第三组</h2>
                    <p>
                      请根据近一年的体验和感觉，回答以下问题
                    </p>
                    <div class="col-md-8" v-for="item in yangxuqueslistdata">
                        <h4>{{item.question_text}}</h4>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-1"' v-bind:name=item.name type="radio" value="1" />
                          <label v-bind:for='item.name +"-1"'>没有（根本不）</label>
                        </div>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-2"' v-bind:name=item.name type="radio" value="2" />
                          <label v-bind:for='item.name +"-2"'>很少（有一点）</label>
                        </div>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-3"' v-bind:name=item.name type="radio" value="3" />
                          <label v-bind:for='item.name +"-3"'>有时（有些）</label>
                        </div>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-4"' v-bind:name=item.name type="radio" value="4" />
                          <label v-bind:for='item.name +"-4"'>经常（相当）</label>
                        </div>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-5"' v-bind:name=item.name type="radio" value="5" />
                          <label v-bind:for='item.name +"-5"'>总是（非常）</label>
                        </div>
                    </div>
                    <br>
                    <span class="img_cnt"></span> / <span class="img_amt"></span>
                    <button class="btn btn-default btn-lg nxt" id="yangxu-btn" type="button">Next <span
                        class="icon-next"></span></button>
                  </li>
                  <li class="form-group animated hide" data-color="#00AF66" data-percentage="40%">
                    <h2>第四组</h2>
                    <p>
                      请根据近一年的体验和感觉，回答以下问题
                    </p>
                    <div class="col-md-8" v-for="item in yinxuqueslistdata">
                        <h4>{{item.question_text}}</h4>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-1"' v-bind:name=item.name type="radio" value="1" />
                          <label v-bind:for='item.name +"-1"'>没有（根本不）</label>
                        </div>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-2"' v-bind:name=item.name type="radio" value="2" />
                          <label v-bind:for='item.name +"-2"'>很少（有一点）</label>
                        </div>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-3"' v-bind:name=item.name type="radio" value="3" />
                          <label v-bind:for='item.name +"-3"'>有时（有些）</label>
                        </div>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-4"' v-bind:name=item.name type="radio" value="4" />
                          <label v-bind:for='item.name +"-4"'>经常（相当）</label>
                        </div>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-5"' v-bind:name=item.name type="radio" value="5" />
                          <label v-bind:for='item.name +"-5"'>总是（非常）</label>
                        </div>
                    </div>
                    <br>
                    <span class="img_cnt"></span> / <span class="img_amt"></span>
                    <button class="btn btn-default btn-lg nxt" id="yinxu-btn" type="button">Next <span
                        class="icon-next"></span></button>
                  </li>
                  <li class="form-group animated hide" data-color="#00AF66" data-percentage="50%">
                    <h2>第五组</h2>
                    <p>
                      请根据近一年的体验和感觉，回答以下问题
                    </p>
                    <div class="col-md-8" v-for="item in tanxuqueslistdata">
                        <h4>{{item.question_text}}</h4>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-1"' v-bind:name=item.name type="radio" value="1" />
                          <label v-bind:for='item.name +"-1"'>没有（根本不）</label>
                        </div>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-2"' v-bind:name=item.name type="radio" value="2" />
                          <label v-bind:for='item.name +"-2"'>很少（有一点）</label>
                        </div>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-3"' v-bind:name=item.name type="radio" value="3" />
                          <label v-bind:for='item.name +"-3"'>有时（有些）</label>
                        </div>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-4"' v-bind:name=item.name type="radio" value="4" />
                          <label v-bind:for='item.name +"-4"'>经常（相当）</label>
                        </div>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-5"' v-bind:name=item.name type="radio" value="5" />
                          <label v-bind:for='item.name +"-5"'>总是（非常）</label>
                        </div>
                    </div>
                    <br>
                    <span class="img_cnt"></span> / <span class="img_amt"></span>
                    <button class="btn btn-default btn-lg nxt" id="tanxu-btn" type="button">Next <span
                        class="icon-next"></span></button>
                  </li>
                  <li class="form-group animated hide" data-color="#00AF66" data-percentage="60%">
                    <h2>第六组</h2>
                    <p>
                      请根据近一年的体验和感觉，回答以下问题
                    </p>
                    <div class="col-md-8" v-for="item in shirequeslistdata">
                        <h4>{{item.question_text}}</h4>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-1"' v-bind:name=item.name type="radio" value="1" />
                          <label v-bind:for='item.name +"-1"'>没有（根本不）</label>
                        </div>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-2"' v-bind:name=item.name type="radio" value="2" />
                          <label v-bind:for='item.name +"-2"'>很少（有一点）</label>
                        </div>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-3"' v-bind:name=item.name type="radio" value="3" />
                          <label v-bind:for='item.name +"-3"'>有时（有些）</label>
                        </div>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-4"' v-bind:name=item.name type="radio" value="4" />
                          <label v-bind:for='item.name +"-4"'>经常（相当）</label>
                        </div>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-5"' v-bind:name=item.name type="radio" value="5" />
                          <label v-bind:for='item.name +"-5"'>总是（非常）</label>
                        </div>
                    </div>
                    <br>
                    <span class="img_cnt"></span> / <span class="img_amt"></span>
                    <button class="btn btn-default btn-lg nxt" id="shire-btn" type="button">Next <span
                        class="icon-next"></span></button>
                  </li>
                  <li class="form-group animated hide" data-color="#00AF66" data-percentage="70%">
                    <h2>第七组</h2>
                    <p>
                      请根据近一年的体验和感觉，回答以下问题
                    </p>
                    <div class="col-md-8" v-for="item in xueyuqueslistdata">
                        <h4>{{item.question_text}}</h4>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-1"' v-bind:name=item.name type="radio" value="1" />
                          <label v-bind:for='item.name +"-1"'>没有（根本不）</label>
                        </div>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-2"' v-bind:name=item.name type="radio" value="2" />
                          <label v-bind:for='item.name +"-2"'>很少（有一点）</label>
                        </div>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-3"' v-bind:name=item.name type="radio" value="3" />
                          <label v-bind:for='item.name +"-3"'>有时（有些）</label>
                        </div>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-4"' v-bind:name=item.name type="radio" value="4" />
                          <label v-bind:for='item.name +"-4"'>经常（相当）</label>
                        </div>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-5"' v-bind:name=item.name type="radio" value="5" />
                          <label v-bind:for='item.name +"-5"'>总是（非常）</label>
                        </div>
                    </div>
                    <br>
                    <span class="img_cnt"></span> / <span class="img_amt"></span>
                    <button class="btn btn-default btn-lg nxt" id="xueyu-btn" type="button">Next <span
                        class="icon-next"></span></button>
                  </li>
                  <li class="form-group animated hide" data-color="#00AF66" data-percentage="80%">
                    <h2>第八组</h2>
                    <p>
                      请根据近一年的体验和感觉，回答以下问题
                    </p>
                    <div class="col-md-8" v-for="item in qiyuqueslistdata">
                        <h4>{{item.question_text}}</h4>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-1"' v-bind:name=item.name type="radio" value="1" />
                          <label v-bind:for='item.name +"-1"'>没有（根本不）</label>
                        </div>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-2"' v-bind:name=item.name type="radio" value="2" />
                          <label v-bind:for='item.name +"-2"'>很少（有一点）</label>
                        </div>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-3"' v-bind:name=item.name type="radio" value="3" />
                          <label v-bind:for='item.name +"-3"'>有时（有些）</label>
                        </div>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-4"' v-bind:name=item.name type="radio" value="4" />
                          <label v-bind:for='item.name +"-4"'>经常（相当）</label>
                        </div>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-5"' v-bind:name=item.name type="radio" value="5" />
                          <label v-bind:for='item.name +"-5"'>总是（非常）</label>
                        </div>
                    </div>
                    <br>
                    <span class="img_cnt"></span> / <span class="img_amt"></span>
                    <button class="btn btn-default btn-lg nxt" id="qiyu-btn" type="button">Next <span
                        class="icon-next"></span></button>
                  </li>
                  <li class="form-group animated hide" data-color="#00AF66" data-percentage="90%">
                    <h2>第九组</h2>
                    <p>
                      请根据近一年的体验和感觉，回答以下问题
                    </p>
                    <div class="col-md-8" v-for="item in telingqueslistdata">
                        <h4>{{item.question_text}}</h4>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-1"' v-bind:name=item.name type="radio" value="1" />
                          <label v-bind:for='item.name +"-1"'>没有（根本不）</label>
                        </div>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-2"' v-bind:name=item.name type="radio" value="2" />
                          <label v-bind:for='item.name +"-2"'>很少（有一点）</label>
                        </div>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-3"' v-bind:name=item.name type="radio" value="3" />
                          <label v-bind:for='item.name +"-3"'>有时（有些）</label>
                        </div>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-4"' v-bind:name=item.name type="radio" value="4" />
                          <label v-bind:for='item.name +"-4"'>经常（相当）</label>
                        </div>
                        <div class="inputGroup">
                          <input v-bind:id='item.name +"-5"' v-bind:name=item.name type="radio" value="5" />
                          <label v-bind:for='item.name +"-5"'>总是（非常）</label>
                        </div>
                    </div>
                    <br>
                    <span class="img_cnt"></span> / <span class="img_amt"></span>
                    <button class="btn btn-default btn-lg nxt" id="teling-btn" type="button">Next <span
                        class="icon-next"></span></button>
                  </li>
                  <li class="form-group animated hide" data-color="#00AF66" data-percentage="100%">
                      <h3>各表评分汇总</h3>
                      <div class=" editable">
                        <div class="break answer1" contenteditable="false"></div>
                        <div class="break answer2" contenteditable="false"></div>
                        <div class="break answer3" contenteditable="false"></div>
                        <div class="break answer4" contenteditable="false"></div>
                        <div class="break answer5" contenteditable="false"></div>
                        <div class="break answer6" contenteditable="false"></div>
                        <div class="break answer7" contenteditable="false"></div>
                        <div class="break answer8" contenteditable="false"></div>
                        <div class="break answer9" contenteditable="false"></div>
                      </div>
                    <button class="btn btn-default btn-lg" type="submit" id="submitBtn">submit</button>
                  </li>
                </ul>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="animated thanks hide">
    <h1 style="font-weight:100; font-size:48px; width: 80%; margin: 0 auto;">Thanks! We'll get back to you shortly!
  </div>
  <script src="../js/jquery-3.4.1.min.js"></script>
  <script src="../layui/layui.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src='https://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>

  <script>
    $(function () {
      //$('#submitBtn').click(function () {
      //  event.preventDefault();
      //  var darken = '<div class="darken" style="display:none;"></div>';
      //  $('body').prepend(darken);
      //  $('.darken').delay().show(0).animate({ opacity: 0.8 }, 'fast');
      //  $('.thanks').removeClass('hide').addClass('fadeInDownBig');
      //});
      var img_cnt = $('li.activate').index() + 1;
      var img_amt = $('li.form-group').length;
      $('.img_cnt').html(img_cnt);
      $('.img_amt').html(img_amt);
      var progress = $('.img_cnt').text() / $('.img_amt').text() * 100;
      $('.progress-bar').css('width', progress + '%');
      //$('.form-control').keyup(function () {
      //		$('.nxt').removeClass('hide fadeOutDown').addClass('fadeInUp');
      //});
    });

    $(function () {
      var flag = true;
      $('#pinghe-btn').click(function () {
        flag = true;
        var pinghe = 0;
        var num = 8;
        for (var i = 1; i <= num; i++) {
          var temp = $('input:radio[name="pinghe-question' + i + '"]:checked').val();
          if (temp==undefined) {
            flag = false;
            temp = 1;//如果有未选择项，得分置为1
          }
          pinghe = pinghe + Number(temp);
        }
        var pinghe_convertion = Math.round( (pinghe - num) / (num * 4) * 100);
        $('.answer1').html(pinghe_convertion);
      });

      $('#qixu-btn').click(function () {
        flag = true;
        var qixu = 0;
        var num = 8;
        for (var i = 1; i <= num; i++) {
          var temp = $('input:radio[name="qixu-question' + i + '"]:checked').val();
        if (temp==undefined) {
            flag = false;
            temp = 1;//如果有未选择项，得分置为1
          }
          qixu = qixu + Number(temp);
        }
        var qixu_convertion = Math.round( (qixu - num) / (num * 4) * 100);
        $('.answer2').html(qixu_convertion);
      });

      $('#yangxu-btn').click(function () {
        flag = true;
        var yangxu = 0;
        var num = 7;
        for (var i = 1; i <= num; i++) {
          var temp = $('input:radio[name="yangxu-question' + i + '"]:checked').val();
        if (temp==undefined) {
            flag = false;
            temp = 1;//如果有未选择项，得分置为1
          }
          yangxu = yangxu + Number(temp);
        }
        var yangxu_convertion = Math.round( (yangxu - num) / (num * 4) * 100);
        $('.answer3').html(yangxu_convertion);
      });

      $('#yinxu-btn').click(function () {
        var yinxu = 0;
        var num = 8;
        for (var i = 1; i <= num; i++) {
          var temp = $('input:radio[name="yinxu-question' + i + '"]:checked').val();
        if (temp==undefined) {
            flag = false;
            temp = 1;//如果有未选择项，得分置为1
          }
          yinxu = yinxu + Number(temp);
        }
        var yinxu_convertion = Math.round( (yinxu - num) / (num * 4) * 100);
        $('.answer4').html(yinxu_convertion);
      });

      $('#tanxu-btn').click(function () {
        flag = true;
        var tanxu = 0;
        var num = 8
        for (var i = 1; i <= num; i++) {
          var temp = $('input:radio[name="tanxu-question' + i + '"]:checked').val();
        if (temp==undefined) {
            flag = false;
            temp = 1;//如果有未选择项，得分置为1
          }
          tanxu = tanxu + Number(temp);
        }
        var tanxu_convertion = Math.round( (tanxu - num) / (num * 4) * 100);
        $('.answer5').html(tanxu_convertion);
      });

      $('#shire-btn').click(function () {
        flag = true;
        var shire = 0;
        var num = 7;
        for (var i = 1; i <= num; i++) {
          var temp = $('input:radio[name="shire-question' + i + '"]:checked').val();
        if (temp==undefined) {
            flag = false;
            temp = 1;//如果有未选择项，得分置为1
          }
          shire = shire + Number(temp);
        }
        var shire_convertion = Math.round( (shire - num) / (num * 4) * 100);
        $('.answer6').html(shire_convertion);
      });

      $('#xueyu-btn').click(function () {
        flag = true;
        var xueyu = 0;
        var num = 7;
        for (var i = 1; i <= num; i++) {
          var temp = $('input:radio[name="xueyu-question' + i + '"]:checked').val();
        if (temp==undefined) {
            flag = false;
            temp = 1;//如果有未选择项，得分置为1
          }
          xueyu = xueyu + Number(temp);
        }
        var xueyu_convertion = Math.round( (xueyu - num) / (num * 4) * 100);
        $('.answer7').html(xueyu_convertion);
      });

      $('#qiyu-btn').click(function () {
        flag = true;
        var qiyu = 0;
        var num = 7;
        for (var i = 1; i <= num; i++) {
          var temp = $('input:radio[name="qiyu-question' + i + '"]:checked').val();
        if (temp==undefined) {
            flag = false;
            temp = 1;//如果有未选择项，得分置为1
          }
          qiyu = qiyu + Number(temp);
        }
        var qiyu_convertion = Math.round( (qiyu - num) / (num * 4) * 100);
        $('.answer8').html(qiyu_convertion);
      });

      $('#teling-btn').click(function () {
        flag = true;
        var teling = 0;
        var num = 7;
        for (var i = 1; i <= num; i++) {
          var temp = $('input:radio[name="teling-question' + i + '"]:checked').val();
        if (temp==undefined) {
            flag = false;
            temp = 1;//如果有未选择项，得分置为1
          }
          teling = teling + Number(temp);
        }
        var teling_convertion = Math.round( (teling - num) / (num * 4) * 100);
        $('.answer9').html(teling_convertion);
      });

      $('.nxt').click(function () {
        //flag = true;//这里记得注释掉
        if (flag && $('.progress-form li').hasClass('activate')) {
          //$('p.alerted').removeClass('fadeInLeft').addClass('fadeOutUp');
          var $activate = $('li.activate');
          var $inactive = $('li.inactive');
          $activate.removeClass('fadeInRightBig activate').addClass('fadeOutLeftBig');
          $inactive.removeClass('hide inactive').addClass('activate fadeInRightBig').next().addClass('inactive');
          var img_cnt = $('li.activate').index() + 1;
          var img_amt = $('li.form-group').length;
          $('.img_cnt').html(img_cnt);
          $('.img_amt').html(img_amt);
          var progress = $('.img_cnt').text() / $('.img_amt').text() * 100;
          $('.progress-bar').css('width', progress + '%');
          if ($('.img_cnt').html() == $('.img_amt').html()) {
            $('.count, .nxt').hide();
            //$('.submit').removeClass('hide');
          }
        } else {
          alert("请填写完整信息");
        }

      });

    });
  </script>
  <script>
      //Vue.component('my-component',{});
      new Vue(
        {
          el: '#queslist',
          data: {
            pinghequeslistdata: [
              {id: 1, name:"pinghe-question1", question_text: "（1）您精力充沛吗？", answer:0, is_decrease: false},
              {id: 2, name:"pinghe-question2", question_text: "（2）您容易疲乏吗？", answer:0, is_decrease: true},
              {id: 3, name:"pinghe-question3", question_text: "（3）您说话声音低弱无力吗？", answer:0, is_decrease: true},
              {id: 4, name:"pinghe-question4", question_text: "（4）您感到闷闷不乐，情绪低沉吗？", answer:0, is_decrease: true},
              {id: 5, name:"pinghe-question5", question_text: "（5）您比一般人耐受不了寒冷（冬天的寒冷，夏天的空调，电扇等）吗？", answer:0, is_decrease: true},
              {id: 6, name:"pinghe-question6", question_text: "（6）您能适应外界自然和社会环境的变化吗？", answer:0, is_decrease: false},
              {id: 7, name:"pinghe-question7", question_text: "（7）您容易失眠吗？", answer:0, is_decrease: true},
              {id: 8, name:"pinghe-question8", question_text: "（8）您容易忘事（健忘）吗？", answer:0, is_decrease: true},
            ],
            qixuqueslistdata: [
            {id: 1, name:"qixu-question1", question_text: "（9）您容易疲乏吗？", answer:0, is_decrease: false},
            {id: 2, name:"qixu-question2", question_text: "（10）您容易气短(呼吸短促，接不上气)吗？", answer:0, is_decrease: false},
            {id: 3, name:"qixu-question3", question_text: "（11）您容易心慌吗？", answer:0, is_decrease: false},
            {id: 4, name:"qixu-question4", question_text: "（12）您容易头晕或站起时晕眩吗？", answer:0, is_decrease: false},
            {id: 5, name:"qixu-question5", question_text: "（13）您比别人容易患感冒吗?", answer:0, is_decrease: false},
            {id: 6, name:"qixu-question6", question_text: "（14）您喜欢安静、懒得说话吗?", answer:0, is_decrease: false},
            {id: 7, name:"qixu-question7", question_text: "（15）您说话声音低弱无力吗?", answer:0, is_decrease: false},
            {id: 8, name:"qixu-question8", question_text: "（16）您活动量稍大就容易出虚汗吗?", answer:0, is_decrease: false},
          ],
            yangxuqueslistdata: [
            {id: 1, name:"yangxu-question1", question_text: "（17）您手脚发凉吗?", answer:0, is_decrease: false},
            {id: 2, name:"yangxu-question2", question_text: "（18）您胃脘部、背部或腰膝部怕冷吗？", answer:0, is_decrease: false},
            {id: 3, name:"yangxu-question3", question_text: "（19）您感到怕冷、衣服比别人穿得多吗?", answer:0, is_decrease: false},
            {id: 4, name:"yangxu-question4", question_text: "（20）您比一般人耐受不了寒冷(冬天的寒冷，夏天的冷空调、电扇等)吗？", answer:0, is_decrease: false},
            {id: 5, name:"yangxu-question5", question_text: "（21）您比别人容易患感冒吗?", answer:0, is_decrease: false},
            {id: 6, name:"yangxu-question6", question_text: "（22）您吃(喝)凉的东西会感到不舒服或者怕吃(喝)凉的东西吗？", answer:0, is_decrease: false},
            {id: 7, name:"yangxu-question7", question_text: "（23）您受凉或吃(喝)凉的东西后，容易腹泻(拉肚子)吗?", answer:0, is_decrease: false},
          ],
            yinxuqueslistdata: [
            {id: 1, name:"yinxu-question1", question_text: "（24）您感到手脚心发热吗?", answer:0, is_decrease: false},
            {id: 2, name:"yinxu-question2", question_text: "（25）您感觉身体、脸上发热吗？", answer:0, is_decrease: false},
            {id: 3, name:"yinxu-question3", question_text: "（26）您皮肤或口唇干吗?", answer:0, is_decrease: false},
            {id: 4, name:"yinxu-question4", question_text: "（27）您口唇的颜色比一般人红吗?", answer:0, is_decrease: false},
            {id: 5, name:"yinxu-question5", question_text: "（28）您容易便秘或大便干燥吗?", answer:0, is_decrease: false},
            {id: 6, name:"yinxu-question6", question_text: "（29）您面部两颧潮红或偏红吗?", answer:0, is_decrease: false},
            {id: 7, name:"yinxu-question7", question_text: "（30）您感到眼睛干涩吗？", answer:0, is_decrease: false},
            {id: 8, name:"yinxu-question8", question_text: "（31）您感到口干咽燥、总想喝水吗？", answer:0, is_decrease: false},
          ],
            tanxuqueslistdata: [
            {id: 1, name:"tanxu-question1", question_text: "（32）您感到胸闷或腹部胀满吗？", answer:0, is_decrease: false},
            {id: 2, name:"tanxu-question2", question_text: "（33）您感到身体沉重不轻松或不爽快吗?", answer:0, is_decrease: false},
            {id: 3, name:"tanxu-question3", question_text: "（34）您腹部肥满松软吗?", answer:0, is_decrease: false},
            {id: 4, name:"tanxu-question4", question_text: "（35）您有额部油脂分泌多的现象吗?", answer:0, is_decrease: false},
            {id: 5, name:"tanxu-question5", question_text: "（36）您上眼睑比别人肿（上眼睑有轻微隆起的现象）吗?", answer:0, is_decrease: false},
            {id: 6, name:"tanxu-question6", question_text: "（37）您嘴里有黏黏的感觉吗?", answer:0, is_decrease: false},
            {id: 7, name:"tanxu-question7", question_text: "（38）您平时痰多，特别是咽喉部总感到有痰堵着吗?", answer:0, is_decrease: false},
            {id: 8, name:"tanxu-question8", question_text: "（39）您舌苔厚腻或有舌苔厚厚的感觉吗?", answer:0, is_decrease: false},
          ],
            shirequeslistdata: [
            {id: 1, name:"shire-question1", question_text: "（40）您面部或鼻部有油腻感或者油亮发光吗?", answer:0, is_decrease: false},
            {id: 2, name:"shire-question2", question_text: "（41）您易生痤疮或疮疖吗?", answer:0, is_decrease: false},
            {id: 3, name:"shire-question3", question_text: "（42）您感到口苦或嘴里有异味吗?", answer:0, is_decrease: false},
            {id: 4, name:"shire-question4", question_text: "（43）您大便黏滞不爽、有解不尽的感觉吗?", answer:0, is_decrease: false},
            {id: 5, name:"shire-question5", question_text: "（44）您小便时尿道有发热感、尿色浓(深)吗？", answer:0, is_decrease: false},
            {id: 6, name:"shire-question6", question_text: "（45）您带下色黄(白带颜色发黄)吗?（限女性回答）", answer:0, is_decrease: false},
            {id: 7, name:"shire-question7", question_text: "（46）您的阴囊部位潮湿吗?（限男性回答）", answer:0, is_decrease: false},
          ],
            xueyuqueslistdata: [
            {id: 1, name:"xueyu-question1", question_text: "（47）您的皮肤在不知不觉中会出现青紫瘀斑(皮下出血)吗?", answer:0, is_decrease: false},
            {id: 2, name:"xueyu-question2", question_text: "（48）您两颧部有细微红丝吗?", answer:0, is_decrease: false},
            {id: 3, name:"xueyu-question3", question_text: "（49）您身体上有哪里疼痛吗？", answer:0, is_decrease: false},
            {id: 4, name:"xueyu-question4", question_text: "（50）您面色晦黯、或容易出现褐斑吗?", answer:0, is_decrease: false},
            {id: 5, name:"xueyu-question5", question_text: "（51）您容易有黑眼圈吗?", answer:0, is_decrease: false},
            {id: 6, name:"xueyu-question6", question_text: "（52）您容易忘事（健忘）吗？", answer:0, is_decrease: false},
            {id: 7, name:"xueyu-question7", question_text: "（53）您口唇颜色偏黯吗?", answer:0, is_decrease: false},
          ],
            qiyuqueslistdata: [
            {id: 1, name:"qiyu-question1", question_text: "（54）您感到闷闷不乐、情绪低沉吗?", answer:0, is_decrease: false},
            {id: 2, name:"qiyu-question2", question_text: "（55）您容易精神紧张、焦虑不安吗?", answer:0, is_decrease: false},
            {id: 3, name:"qiyu-question3", question_text: "（56）您多愁善感、感情脆弱吗？", answer:0, is_decrease: false},
            {id: 4, name:"qiyu-question4", question_text: "（57）您容易感到害怕或受到惊吓吗?", answer:0, is_decrease: false},
            {id: 5, name:"qiyu-question5", question_text: "（58）您胁肋部或乳房胀痛吗?", answer:0, is_decrease: false},
            {id: 6, name:"qiyu-question6", question_text: "（59）您无缘无故叹气吗?", answer:0, is_decrease: false},
            {id: 7, name:"qiyu-question7", question_text: "（60）您咽喉部有异物感，且吐之不出、咽之不下吗？", answer:0, is_decrease: false},
          ],
            telingqueslistdata: [
            {id: 1, name:"teling-question1", question_text: "（61）您没有感冒时也会打喷嚏吗？", answer:0, is_decrease: false},
            {id: 2, name:"teling-question2", question_text: "（62）您没有感冒时也会鼻塞、流鼻涕吗?", answer:0, is_decrease: false},
            {id: 3, name:"teling-question3", question_text: "（63）您有因季节变化、温度变化或异味等原因而咳喘的现象吗？", answer:0, is_decrease: false},
            {id: 4, name:"teling-question4", question_text: "（64）您容易过敏(对药物、食物、气味、花粉或在季节交替、气候变化时)吗?", answer:0, is_decrease: false},
            {id: 5, name:"teling-question5", question_text: "（65）您的皮肤容易起荨麻疹(风团、风疹块、风疙瘩)吗?", answer:0, is_decrease: false},
            {id: 6, name:"teling-question6", question_text: "（66）您的皮肤因过敏出现过紫癜(紫红色瘀点、瘀斑)吗?", answer:0, is_decrease: false},
            {id: 7, name:"teling-question7", question_text: "（67）您的皮肤一抓就红，并出现抓痕吗? ", answer:0, is_decrease: false},
          ],

          }
        })
  </script>
</body>

</html>